fieldset.fsStyle {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 20px;
    margin: 5px;

}

.required:after {
    content: ' *';
    color: #e32;
}

body {
    background-color: #f5f5f5;
}

.note-editable {
    background-color: white !important;
    overflow: auto !important;
}

.note-codable {
    display: none !important;
}

.note-dropzone {
    display: none !important;
}

.navbar-default {
    background-color: black;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}