//Default values
$default-margin: 10px;
$default-padding: 15px;
$default-border-radius: 2px;

//Colors
$primary-color: rgb(102, 153, 51);

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$default-border-color: darken($primary-color, 10%);